# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.obj
*.exe
*.pdb
*.ilk
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ipch
*.dll
*.ncb
*.sbr
*.tli
*.tlh
*.tmp
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
*.vbproj.user
*.vbproj.vspscc
*.vbproj.vssscc
